@using orgnet.Models;
@model Node

@{
    ViewBag.Title = Model.Title;
    ViewBag.Header = Model.Title;
}

@helper RenderTree(IEnumerable<Node> nodes) {
    <ul>
        @foreach (var node in nodes) {
            <li>
                <!--href="@Url.Action("Tree", "Node", new { id = node.Id})" -->
                <a href="#" class="node-task" data-id="@node.Id">@node.Title</a>
                @if (node.Children.Any()) {
                    @RenderTree(node.Children)
                }
            </li>
        }
    </ul>
}

@Html.Partial("PageHeader")

<div class="container">
    <div class="float-left">
        @if (Model.Children.Any()) {
            @RenderTree(Model.Children)
        }
        else {
            <h3>No child nodes.</h3>
        }
    </div>

    <div id="node-content">
        @if (ViewBag.ContentId != null) {
            <h3>Content Id: @ViewBag.ContentId</h3>
        }
    </div>
</div>

<script src="~/Scripts/app/orgnet.node.js"></script>